.ma-2 .v-card {
  width: 100%;
  max-width: none; /* Remove any default max-width constraints */
}
.ma-2 .v-card-text {
  display: flex; /* Enable flexbox layout */
  flex-direction: row; /* Arrange elements horizontally */
  justify-content: space-between; /* Align elements to opposite ends */
  align-items: center; /* Vertically center elements */
}
.ma-2 .v-card-text .v-btn {
  margin-left: 1rem; /* Add some margin to the button */
}
.ma-2 .v-card-actions {
  display: flex; /* Enable flexbox layout */
  flex-direction: row; /* Arrange items horizontally */
  justify-content: space-between; /* Align items to opposite ends */
}

/* date-container */
.date-container {
  border: 1px solid #ccc; /* Light border */
  border-radius: 5px;
  padding: 2px;
  text-align: center;
}

/* Individual date sections */
.date-day {
  font-size: 24px;
}

.date-month {
  font-size: 16px;
}

.date-year {
  font-size: 14px;
}
